* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: $font-size-h1;
    font-family: $font-secondary;
    color: $color-light;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
    color: $color-light;
}

h4 {
    font-size: $font-size-h4;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $color-dark;
    font-weight: 600;
}

body {
    background-color: $color-bg;
    color: $color-dark;
    font-family: $font-primary;
}