* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: var(--fs1);
    font-family: var(--font-secondary);
    color: var(--color-light);
}

h2 {
    font-size: var(--fs2);
}

h3 {
    font-size: var(--fs3);
    color: var(--color-light);
}

h4 {
    font-size: var(--fs4);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
}

body {
    background-color: var(--color-bg);
    color: var(--color-dark);
    font-family: var(--font-primary);
}