.button {
    display: block;

    font-family: var(--font-primary);
    text-align: center;

    border-radius: 5px;
    border: 1px solid var(--color-dark);
}

.button.negative{
    color: var(--color-bg);
    background-color: var(--color-dark);
}

#button-login,
#button-dadvice,
#button-signup {
    font-size: var(--fs4);
    height: calc(var(--fs4) * 3);
    padding-top: calc(var(--fs4) * 0.8);
    aspect-ratio: 2.5/1;
}

#button-dadvice,
#button-signup {
    aspect-ratio: 4.0/1;
    margin: auto;
}