@import '_variables.scss';

.button {
    display: block;

    font-family: $font-primary;
    text-align: center;

    border-radius: 5px;
    border: 1px solid $color-dark;
}

.button.negative{
    color: $color-bg;
    background-color: $color-dark;
}

#button-login,
#button-dadvice,
#button-signup {
    font-size: $font-size-h4;
    height: calc(#{$font-size-h4} * 3);
    padding-top: calc(#{$font-size-h4} * 0.8);
    aspect-ratio: 2.5/1;
}

#button-dadvice,
#button-signup {
    aspect-ratio: 4.0/1;
    margin: auto;
}