header,
main {
    margin: var(--half-gap) var(--row-gap);
}

header {
    height: min(20vw, 120px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo-group {
        height: 100%;
        display: flex;
        align-items: center;

        #logo {
            height: 100%;
        }

        #logo-text {
            font-family: var(--font-logo);
            font-size: min(10vw, 74px);
        }
      }
}

#section-top {
    text-align: center;

    #mobile-app{
        max-width: 85vw;
        display: block;
        margin: var(--row-gap) auto;
    }
}

#section-middle {
    display: grid;
    row-gap: var(--row-gap);
    text-align: center;
}

#section-bottom {
    display: grid;
    row-gap: var(--row-gap);
    max-width: 520px;
    margin: 0 auto;

    .row {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    
        p {
            font-size: var(--fs4);
            width: 68%;
        }
        img {
            width: 156px;
        }
    }
    
    .text-right {
        padding-left: 30px;
    }
}

footer {
    font-size: var(--fs2);
    display: grid;
    row-gap: var(--half-gap);
    text-align: center;
    padding: var(--half-gap) 0;
    margin-top: var(--double-gap);
    background-color: var(--color-footer);
}