$font-logo: "Boogaloo";
$font-primary: "IBM Plex Sans";
$font-secondary: "Nunito";

$font-size-h1: clamp(16px, 6.0vw, 28px);
$font-size-h2: calc(#{$font-size-h1} - 2px);
$font-size-h3: calc(#{$font-size-h2} - 2px);
$font-size-h4: calc(#{$font-size-h3} - 2px);

$color-bg: #fefdf8;
$color-black: #444041;
$color-dark: #394166;
$color-light: #1ab9f1;
$color-footer: #fffcdd;

$row-gap: 40px;
$half-gap: calc(#{$row-gap}/2);
$double-gap: calc(#{$row-gap}*2);

