:root {
    --font-logo: "Boogaloo";
    --font-primary: "IBM Plex Sans";
    --font-secondary: "Nunito";
    
    --fs1: clamp(16px, 6.0vw, 28px);
    --fs2: calc(var(--fs1) - 2px);
    --fs3: calc(var(--fs2) - 2px);
    --fs4: calc(var(--fs3) - 2px);
    
    --color-bg: #fefdf8;
    --color-black: #444041;
    --color-dark: #394166;
    --color-light: #1ab9f1;
    --color-footer: #fffcdd;
    
    --row-gap: 40px;
    --half-gap: calc(var(--row-gap)/2);
    --double-gap: calc(var(--row-gap)*2);
}
