@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@600&family=Nunito:ital,wght@1,800&display=swap');

$font-logo: "Boogaloo";
$font-primary: "IBM Plex Sans";
$font-secondary: "Nunito";

$font-size-logo: 60px;
$font-size-medium: 24px;

$color-bg: #fefdf8;
$color-black: #444041;
$color-dark: #394166;
$color-light: #1ab9f1;
$color-footer: #fffcdd;

$row-gap: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    color: $color-dark;
    padding: 14px 20px;
    font-size: $font-size-medium;
    font-family: $font-primary;
}

#mobile-status-bar,
#mobile-icons {
    color: $color-black;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.mobile-icon {
    width: 35px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-group {
    display: flex;
    align-items: center;
  }

#logo-text {
    font-family: $font-logo;
    font-size: $font-size-logo;
}

.button {
    display: block;
    padding: 10px 0px;

    width: 140px;
    height: $font-size-logo;

    font-family: $font-primary;
    font-size: $font-size-medium;
    text-align: center;
    text-decoration: none;

    color: $color-dark;
    border-radius: 5px;
    border: 1px solid $color-dark;
}

.button.negative{
    color: $color-bg;
    background-color: $color-dark;
}

#button-dadvice,
#button-signup {
    width: 250px;
    margin: auto;
}

#mobile-app{
    height: 800px;
    display: block;
    margin: $row-gap auto;
}

#section-top {
    text-align: center;
}

#section-middle {
    display: grid;
    row-gap: $row-gap;
    text-align: center;
}

#section-bottom:nth-child(1) {
    grid-area: txt1;
}
#section-bottom:nth-child(2) {
    grid-area: img1;
}
#section-bottom:nth-child(3) {
    grid-area: txt2;
}
#section-bottom:nth-child(4) {
    grid-area: img2;
}
#section-bottom:nth-child(5) {
    grid-area: txt3;
}
#section-bottom:nth-child(6) {
    grid-area: img3;
}
#section-bottom:nth-child(7) {
    grid-area: txt4;
}
#section-bottom:nth-child(8) {
    grid-area: img4;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;

}

div {
    p {
        width: 70%;
    }
    img {
        width: 30%;
        height: auto;
    }
}

h1 {
    font-family: $font-secondary;
    color: $color-light;
}

h3 {
    color: $color-light;
}