@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Nunito:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefdf8;
  color: #394166;
  font-size: 24px;
  font-family: "IBM Plex Sans";
}

#logo-group {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  height: 100%;
}

#logo-text {
  font-family: "Boogaloo";
  font-size: min(10vw, 74px);
}

#button-login {
  height: min(12vw, 64px);
  font-size: min(6vw, 32px);
  padding-top: min(1.5vw, 8px);
  aspect-ratio: 2.5/1;
}

#mobile-status-bar,
header,
main {
  margin: 20px 20px;
}

#mobile-status-bar,
#mobile-icons {
  font-weight: 600;
  color: #444041;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

#mobile-status-bar {
  align-items: center;
}

.mobile-icon {
  width: 35px;
  height: auto;
}

header {
  height: min(20vw, 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #394166;
  font-weight: 600;
}

.button {
  display: block;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #394166;
}

.button.negative {
  color: #fefdf8;
  background-color: #394166;
}

#button-dadvice,
#button-signup {
  width: 250px;
  margin: auto;
}

#mobile-app {
  max-width: 85vw;
  display: block;
  margin: 20px auto;
}

#section-top {
  text-align: center;
}

#section-middle {
  display: grid;
  row-gap: 20px;
  text-align: center;
}

#section-bottom {
  display: grid;
  row-gap: 20px;
  max-width: 520px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row p {
  width: 68%;
}
.row img {
  width: 156px;
}

h1 {
  font-family: "Nunito";
  color: #1ab9f1;
}

h3 {
  color: #1ab9f1;
}

h4 {
  font-weight: 300;
}

footer {
  display: grid;
  row-gap: 20px;
  text-align: center;
  padding: 20px 0;
  background-color: #fffcdd;
}