@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@600&family=Nunito:ital,wght@1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefdf8;
  color: #394166;
  padding: 14px 20px;
  font-size: 24px;
  font-family: "IBM Plex Sans";
}

#mobile-status-bar,
#mobile-icons {
  color: #444041;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.mobile-icon {
  width: 35px;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-group {
  display: flex;
  align-items: center;
}

#logo-text {
  font-family: "Boogaloo";
  font-size: 60px;
}

.button {
  display: block;
  padding: 10px 0px;
  width: 140px;
  height: 60px;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #394166;
  border-radius: 5px;
  border: 1px solid #394166;
}

.button.negative {
  color: #fefdf8;
  background-color: #394166;
}

#button-dadvice,
#button-signup {
  width: 250px;
  margin: auto;
}

#mobile-app {
  height: 800px;
  display: block;
  margin: 20px auto;
}

#section-top {
  text-align: center;
}

#section-middle {
  display: grid;
  row-gap: 20px;
  text-align: center;
}

#section-bottom:nth-child(1) {
  grid-area: txt1;
}

#section-bottom:nth-child(2) {
  grid-area: img1;
}

#section-bottom:nth-child(3) {
  grid-area: txt2;
}

#section-bottom:nth-child(4) {
  grid-area: img2;
}

#section-bottom:nth-child(5) {
  grid-area: txt3;
}

#section-bottom:nth-child(6) {
  grid-area: img3;
}

#section-bottom:nth-child(7) {
  grid-area: txt4;
}

#section-bottom:nth-child(8) {
  grid-area: img4;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

div p {
  width: 70%;
}
div img {
  width: 30%;
  height: auto;
}

h1 {
  font-family: "Nunito";
  color: #1ab9f1;
}

h3 {
  color: #1ab9f1;
}