@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Nunito:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefdf8;
  color: #394166;
  font-size: 24px;
  font-family: "IBM Plex Sans";
}

#mobile-status-bar,
header,
main {
  padding: 14px 20px;
}

#mobile-status-bar,
#mobile-icons {
  color: #444041;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.mobile-icon {
  width: 35px;
  height: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-group {
  display: flex;
  align-items: center;
}

#logo-text {
  font-family: "Boogaloo";
  font-size: 60px;
}

a {
  text-decoration: none;
  color: #394166;
  font-weight: 600;
}

.button {
  display: block;
  padding: 10px 0px;
  width: 140px;
  height: 60px;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #394166;
}

.button.negative {
  color: #fefdf8;
  background-color: #394166;
}

#button-dadvice,
#button-signup {
  width: 250px;
  margin: auto;
}

#mobile-app {
  height: 800px;
  display: block;
  margin: 20px auto;
}

#section-top {
  text-align: center;
}

#section-middle {
  display: grid;
  row-gap: 20px;
  text-align: center;
}

#section-bottom {
  display: grid;
  row-gap: 20px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row p {
  width: 68%;
}
.row img {
  width: 30%;
  height: auto;
  max-height: 200px;
}

h1 {
  font-family: "Nunito";
  color: #1ab9f1;
}

h3 {
  color: #1ab9f1;
}

footer {
  display: grid;
  row-gap: 20px;
  text-align: center;
  padding: 20px 0;
  background-color: #fffcdd;
}