@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Nunito:wght@800&display=swap');

$font-logo: "Boogaloo";
$font-primary: "IBM Plex Sans";
$font-secondary: "Nunito";

$font-size-h1: max(min(6.0vw, 28px), 16px);
$font-size-h2: calc(#{$font-size-h1} - 2px);
$font-size-h3: calc(#{$font-size-h2} - 2px);
$font-size-h4: calc(#{$font-size-h3} - 2px);

$color-bg: #fefdf8;
$color-black: #444041;
$color-dark: #394166;
$color-light: #1ab9f1;
$color-footer: #fffcdd;

$row-gap: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: $font-size-h1;
    font-family: $font-secondary;
    color: $color-light;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
    color: $color-light;
}

h4 {
    font-size: $font-size-h4;
    font-weight: 300;
}

body {
    background-color: $color-bg;
    color: $color-dark;
    font-family: $font-primary;
}

#logo-group {
    height: 100%;
    display: flex;
    align-items: center;
  }

#logo {
    height: 100%;
}

#logo-text {
    font-family: $font-logo;
    font-size: min(10vw, 74px);
}

#button-login {
    height: min(12vw, 64px);
    font-size: min(6vw, 32px);
    padding-top: min(1.5vw, 8px);
    aspect-ratio: 2.5/1;
}

#mobile-status-bar,
header,
main {
    margin: $row-gap $row-gap;
}

#mobile-status-bar,
#mobile-icons {
    font-weight: 600;
    color: $color-black;
    height: $row-gap;
    display: flex;
    justify-content: space-between;
}

#mobile-status-bar {
    align-items: center;
}

.mobile-icon {
    width: 35px;
    height: auto;
}

header {
    height: min(20vw, 120px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: $color-dark;
    font-weight: 600;
}

.button {
    display: block;

    font-family: $font-primary;
    text-align: center;

    border-radius: 5px;
    border: 1px solid $color-dark;
}

.button.negative{
    color: $color-bg;
    background-color: $color-dark;
}

#button-dadvice,
#button-signup {
    width: 250px;
    margin: auto;
}

#mobile-app{
    max-width: 85vw;
    display: block;
    margin: $row-gap auto;
}

#section-top {
    text-align: center;
}

#section-middle {
    display: grid;
    row-gap: $row-gap;
    text-align: center;
}

#section-bottom {
    display: grid;
    row-gap: $row-gap;
    max-width: 520px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    p {
        font-size: $font-size-h4;
        width: 68%;
    }
    img {
        width: 156px;
    }
}

footer {
    font-size: $font-size-h2;
    display: grid;
    row-gap: $row-gap;
    text-align: center;
    padding: $row-gap 0;
    background-color: $color-footer;
}