@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Nunito:wght@800&display=swap');

$font-logo: "Boogaloo";
$font-primary: "IBM Plex Sans";
$font-secondary: "Nunito";

$font-size-logo: 60px;
$font-size-medium: 24px;

$color-bg: #fefdf8;
$color-black: #444041;
$color-dark: #394166;
$color-light: #1ab9f1;
$color-footer: #fffcdd;

$row-gap: 20px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-bg;
    color: $color-dark;
    font-size: $font-size-medium;
    font-family: $font-primary;
}

#mobile-status-bar,
header,
main {
    margin: $row-gap $row-gap;
}

#mobile-status-bar,
#mobile-icons {
    font-weight: 600;
    color: $color-black;
    height: $row-gap;
    display: flex;
    justify-content: space-between;
}

#mobile-status-bar {
    align-items: center;
}

.mobile-icon {
    width: 35px;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-group {
    display: flex;
    align-items: center;
  }

#logo-text {
    font-family: $font-logo;
    font-size: $font-size-logo;
}

a {
    text-decoration: none;
    color: $color-dark;
    font-weight: 600;
}

.button {
    display: block;
    padding: 10px 0px;

    width: 140px;
    height: $font-size-logo;

    font-family: $font-primary;
    font-size: $font-size-medium;    
    text-align: center;

    border-radius: 5px;
    border: 1px solid $color-dark;
}

.button.negative{
    color: $color-bg;
    background-color: $color-dark;
}

#button-dadvice,
#button-signup {
    width: 250px;
    margin: auto;
}

#mobile-app{
    max-width: 85vw;
    display: block;
    margin: $row-gap auto;
}

#section-top {
    text-align: center;
}

#section-middle {
    display: grid;
    row-gap: $row-gap;
    text-align: center;
}

#section-bottom {
    display: grid;
    row-gap: $row-gap;
    max-width: 520px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    p {
        width: 68%;
    }
    img {
        width: 156px;
    }
}

h1 {
    font-family: $font-secondary;
    color: $color-light;
}

h3 {
    color: $color-light;
}

h4 {
    font-weight: 300;
}

footer {
    display: grid;
    row-gap: $row-gap;
    text-align: center;
    padding: $row-gap 0;
    background-color: $color-footer;
}

@media screen and (max-width: 460px) {
    header {
        flex-direction: column;
    }
}