@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,300&family=Nunito:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: max(min(6.0vw, 28px), 16px);
  font-family: "Nunito";
  color: #1ab9f1;
}

h2 {
  font-size: calc(max(min(6.0vw, 28px), 16px) - 2px);
}

h3 {
  font-size: calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px);
  color: #1ab9f1;
}

h4 {
  font-size: calc(calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px) - 2px);
  font-weight: 300;
}

body {
  background-color: #fefdf8;
  color: #394166;
  font-family: "IBM Plex Sans";
}

#logo-group {
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  height: 100%;
}

#logo-text {
  font-family: "Boogaloo";
  font-size: min(10vw, 74px);
}

#button-login,
#button-dadvice,
#button-signup {
  font-size: calc(calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px) - 2px);
  height: calc(calc(calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px) - 2px) * 3);
  padding-top: calc(calc(calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px) - 2px) * 0.8);
  aspect-ratio: 2.5/1;
}

#button-dadvice,
#button-signup {
  aspect-ratio: 4/1;
  margin: auto;
}

#mobile-status-bar,
header,
main {
  margin: calc(20px) 40px;
}

#mobile-status-bar,
#mobile-icons {
  font-weight: 600;
  color: #444041;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

#mobile-status-bar {
  align-items: center;
}

.mobile-icon {
  width: 35px;
  height: auto;
}

header {
  height: min(20vw, 120px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #394166;
  font-weight: 600;
}

.button {
  display: block;
  font-family: "IBM Plex Sans";
  text-align: center;
  border-radius: 5px;
  border: 1px solid #394166;
}

.button.negative {
  color: #fefdf8;
  background-color: #394166;
}

#mobile-app {
  max-width: 85vw;
  display: block;
  margin: 40px auto;
}

#section-top {
  text-align: center;
}

#section-middle {
  display: grid;
  row-gap: 40px;
  text-align: center;
}

#section-bottom {
  display: grid;
  row-gap: 40px;
  max-width: 520px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row p {
  font-size: calc(calc(calc(max(min(6.0vw, 28px), 16px) - 2px) - 2px) - 2px);
  width: 68%;
}
.row img {
  width: 156px;
}

footer {
  font-size: calc(max(min(6.0vw, 28px), 16px) - 2px);
  display: grid;
  row-gap: calc(20px);
  text-align: center;
  padding: calc(20px) 0;
  margin-top: calc(80px);
  background-color: #fffcdd;
}