@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans:wght@600&family=Nunito:ital,wght@1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefdf8;
  color: #394166;
  padding: 14px 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-group {
  display: flex;
  align-items: center;
}

#logo-text {
  font-family: "Boogaloo";
  font-size: 60px;
}

.button {
  display: block;
  padding: 10px 0px;
  width: 140px;
  height: 60px;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #394166;
  border-radius: 5px;
  border: 1px solid #394166;
}